* {
    margin: 0;
}

body {
    background-color: #02152b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 100vw;
    height: auto;
    text-align: center;
    color: white;
    background-color: #000a23;
    font-size: 30px;
    border-bottom-style: dashed;
    font-family: 'Satisfy', cursive;
}

.txt1 {
    width: 50vw;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #012e46;
    color: #aaa6ca;
    font-size: 25px;
    border-radius: 15px;
    border-color: #aaa6ca;
    border-style:groove;
    font-family: 'Shadows Into Light', cursive;
}

form {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #153f59;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border-style: double;
}

.txt-form {
    width: 30vw;
    height: auto;
    margin-top: 10px;
    text-align: center;
    background-color: #557996;
}

select {
    width: 20%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    background-color: #94b8d7;
}

select:hover {
    color: white;
    background-color: #000a23;
    transition: ease-in .3s;
}

input {
    width: 50px;
    height: 25px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 140, 0);
}

input:hover {
    background-color: rgb(24, 83, 83);
    color: whitesmoke;
    transition: ease-in .3s;
}

.btn {
    width: 25%;
    height: auto;
    background-color: #6c6889;
}

.btn:hover {
    color: white;
    background-color: #13142a;
    transition: ease-in .3s;
}

.labels {
    color: whitesmoke;
}

#operacionesDiv {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    color: #aaa6ca;
    background-color: #13142a;
    font-family: 'Pixelify Sans', cursive;
    border-radius: 15px;
    border-style: inset;
}

#matrizResultanteDiv {
    width: 30vw;
    height: auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: #aaa6ca;
    background-color: #1a1a33;
    border-style: ridge;
}

.botones {
    margin-top: 20px;
}

.btn-regresar{
    border:0px solid;
    border-radius: 10px;
    background-color: rgb(15, 12, 43);
    color:white;
    padding: 10px;
    margin-right: 1000px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;

}

.btn-regresar:hover{
    background-color: rgba(156, 167, 225, 0.763);
    color: #fcfcfc;
    transition: ease-in .4s;}
  
  .btn-siguiente{
    float: right;
    border:0px solid;
    border-radius: 10px;
    background-color: rgb(15, 12, 43);
    color:white;
    padding: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
  
  }
     
  .btn-siguiente:hover{
    background-color: rgba(156, 167, 225, 0.763);
    color: #fcfcfc;
    transition: ease-in .4s;
  }
  .botones{
    padding: 20px;
  }